<div id="v-pills-activities" class="dashboard-tab mt-3 tab-pane fade" role="tabpanel" aria-labelledby="v-pills-activities-tab">
  <% if @activities.empty? %>
    <p>You have not created any activities yet.</p>
  <% else %>

    <% @activities.order(:date).each do |activity| %>
      <div class="dashboard-card">
        <div class="dashboard-header">
          <%= image_tag activity&.activity_images&.first&.photo&.url || "activity-default.png", class: 'avatar' %>
          <div class="dashboard-info">
            <%= link_to activity_path(activity) do %>
            <div class="dashboard-activity">
              <h5><%= activity.title %></h5>
            </div>
            <div class="dashboard-rating">
              <p><%= activity.stars %></p>
            </div>
          </div>
          <% end %>

          <div class="dashboard-date">
            <div class="activity-heart" id="activity_<%= activity.id %>">
              <%= render 'activities/heart', :activity => activity %>
            </div>
            <p><%= activity.date.strftime("%d %B %Y") %> • <%= "#{activity.date.strftime('%H:%M')} - #{activity.end_time.strftime('%H:%M')}" %></p>
            <p><%= activity.tickets_left %> tickets left</p>
          </div>
        </div>

        <div class="dashboard-text">
          <p><%= activity.description.truncate(150) %></p>
        </div>
        <div class="delete ml-3 mt-0 mb-3">
          <button class="button-pay" data-toggle="modal" data-target=".modal_<%= activity.id %>">edit activity</button>
          <%= link_to activity_path(activity), method: :delete, data: { confirm: 'Are you sure you want to delete your activity?' } do %>
              <button class="button-pay-delete">delete activity</button>
          <% end %>
        </div>

        <div class="dashboard-activity-details">
          <div class="dashboard-location">
            <p><i class="fas fa-map-marker-alt"></i> <%= activity.address %></p>
          </div>
          <div class="dashboard-categories">
            <span class="badge badge-pill badge-primary"><%= activity.age_group %></span>
            <span class="badge badge-pill badge-secondary"><%= activity.category %></span>
          </div>
        </div>
      </div>

      <!-- Modal content -->
      <div class="modal fade modal_<%= activity.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content new-activity">
            <h3>Create a new activity</h3>
            <%= simple_form_for activity do |f| %>
              <%= f.input :title, label: "What is the name of your activity?", placeholder: "Title" %>
              <div class="category-details">
                <%= f.input :age_group, as: :select, collection: @age_group, label: "Select age group", prompt: "Age group" %>
                <%= f.input :category, as: :select, collection: @categories, label: "Select category", prompt: "Category" %>
              </div>
              <%= f.input :address, label: "Where will your activity be located?", placeholder: "Full address" %>
              <div class="date-details">
              <%= f.input :date, as: :string, label: "When does your activity start?", placeholder: "Select date and time", input_html: { class: "date_wrapper" } %>
              <%= f.input :duration, label: "How long will it last?", placeholder: "Number of hours" %>
              </div>
              <%= f.input :description, label: "How would you describe your activity?", placeholder: "Description" %>
              <%= f.input :capacity, placeholder: "How many people can join your activity?" %>
              <%= f.input :price, placeholder: "How much does it cost per ticket (just numbers, 0 if free)?" %>

              <%= f.fields_for :activity_images do |p| %>
                 <div class="field">
                   <%= p.label :photo %><br>
                   <%= p.file_field :photo, :multiple => true, name: "activity_images[photo][]" %>
                 </div>
               <% end %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <%= f.submit class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

        </div>
      </div>

    <% end %>

  <% end %>
</div>
