<div id="v-pills-orders" class="dashboard-tab mt-3 tab-pane fade show active" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <div class="collapse-menu">
    <div data-toggle="collapse" href="#pendingCollapse" aria-expanded="false" aria-controls="pendingCollapse">
      <h6>Pending orders <span class="float-right"><i class="fas fa-chevron-down"></i></span></h6>
    </div>
    <div class="collapse multi-collapse" id="pendingCollapse">
      <% if @orders.where(status: 'pending').empty? %>
      <p>You have no pending orders.</p>
      <% else %>
      <% @orders.where(status: 'pending').each do |order| %>
        <div class="card-product">
          <%= image_tag order.activity&.activity_images&.first&.photo&.url || 'activity-default.png' %>
          <div class="card-info">
            <%= link_to activity_path(order.activity) do %>
            <h5><%= order.activity.title %></h5>
            <% if order.amount == 0 %>
              <p><%= pluralize(order.number_of_tickets, 'ticket') %></p>
              <p>Free</p>
            <% else %>
              <p><%= pluralize(order.number_of_tickets, 'ticket') %>: <%= humanized_money_with_symbol(order.amount) %></p>
              <%= link_to new_order_payment_path(order) do %>
              <button class="button-pay">Pay</button>
              <% end %>
            <% end %>
            <% end %>
          </div>
          <div class="card-status">
            <p><%= order.activity.date.strftime("%d %B %Y") %></p>
            <p><%= "#{order.activity.date.strftime('%H:%M')} - #{order.activity.end_time.strftime('%H:%M')}" %></p>
            <div class="action-buttons">
              <div class="delete">
                <%= link_to "delete order", order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-md px-2' %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="collapse-menu">
    <div data-toggle="collapse" href="#paidCollapse" aria-expanded="false" aria-controls="paidCollapse">
      <h6>Paid orders <span class="float-right"><i class="fas fa-chevron-down"></i></span></h6>
    </div>
    <div class="collapse multi-collapse" id="paidCollapse">
      <% if @orders.where(status: 'paid').empty? %>
      <p>You have no paid orders.</p>
      <% else %>
      <% @paid_orders.each do |order| %>
      <div class="card-product">
        <%= image_tag order.activity&.activity_images&.first&.photo&.url || 'activity-default.png' %>
        <div class="card-info">
          <%= link_to activity_path(order.activity) do %>
          <h5><%= order.activity.title %></h5>

          <% if order.amount == 0 %>
              <p>Free</p>
            <% else %>
              <p>Total amount: <%= humanized_money_with_symbol(order.amount) %></p>
            <% end %>
          <% end %>
        </div>
        <div class="card-status">
          <p><%= order.activity.date.strftime("%d %B %Y") %></p>
          <p><%= "#{order.activity.date.strftime('%H:%M')} - #{order.activity.end_time.strftime('%H:%M')}" %></p>
          <p><%= pluralize(order.number_of_tickets, 'ticket') %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="collapse-menu">
    <div data-toggle="collapse" href="#passedCollapse" aria-expanded="false" aria-controls="passedCollapse">
      <h6>Write a review <span class="float-right"><i class="fas fa-chevron-down"></i></span></h6>
    </div>

    <div class="collapse multi-collapse" id="passedCollapse">
      <% if @orders.where(activity: Activity.where("date < ? ", Time.now)).empty? %>
        <p>You have no activities to write a review for.</p>

      <% else %>
        <% @orders.where(activity: Activity.where("date < ? ", Time.now)).each do |order| %>
          <% if order.activity_review.nil? %>
            <div class="card-product">
              <%= image_tag order.activity&.activity_images&.first&.photo&.url || 'activity-default.png' %>
              <div class="card-info">
                <%= link_to activity_path(order.activity) do %>
                  <h5><%= order.activity.title %></h5>
                  <p><%= order.activity.date.strftime("%d %B %Y") %></p>
                  <p><%= "#{order.activity.date.strftime('%H:%M')} - #{order.activity.end_time.strftime('%H:%M')}" %></p>
                <% end %>
              </div>
              <div class="card-status">
                <button type="button" class="button-md" data-toggle="modal" data-target="#reviewForm">
                  Write a review
                </button>
                <div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="newReviewForm" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="newReviewForm">Write a review for <%= order.activity.title %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [order, @activity_review] do |f| %>
                          <%= f.input :comment %>
                          <%= f.input :rating %>

                          <%= f.submit class: 'button-lg' %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
