<div id="v-pills-reviews" class="dashboard-tab mt-3 tab-pane fade" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  <% if @reviews.empty? %>
    <p>You have not written any reviews yet.</p>
  <% else %>

    <% @reviews.each do |review| %>
      <div class="dashboard-card">
        <div class="dashboard-header">
          <%= image_tag review.order.activity&.activity_images&.first&.photo&.url || "activity-default.png", class: 'avatar' %>
          <div class="dashboard-info">
          <%= link_to activity_path(review.order.activity) do %>
            <div class="dashboard-activity">
              <h6>Review for: <%= review.order.activity.title %></h6>
            </div>
            <div class="dashboard-rating">
              <p><%= review.stars %></p>
            </div>
          <% end %>
          </div>

          <div class="dashboard-date">
            <p><%= review.created_at.strftime("%d %B %Y") %></p>
          </div>
        </div>

        <div class="dashboard-text">
          <p><%= review.comment %></p>
        </div>
        <div class="delete">
          <%= link_to "delete review", activity_review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-md px-2' %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>

