<div class="header-parallax">
  <div class="container">
    <div class="header-text">
      <h1>Find activities for your tribe. Create activities for other tribes. Find your friends favorite activites.</h1>
    </div>
    <div class="buttons">
      <%= link_to "Find activities", activities_path, class: 'banner-btn-1' %>
      <%= link_to "Create activity", activities_path, class: 'banner-btn-2' %>
    </div>
  </div>
</div>
<div class="top-info">
  <div class="container">
    <div class="boxes">
      <div class="box family">
        <div class="box-image">
          <%= image_tag("family", size: "100x70") %>
        </div>
        <div class="box-headline">
          <h2>Discover</h2>
          <div class="box-text">
            <p>Spend less time arguing over what to do. Find interesting activities for you, your family and your friends in no time!</p>
          </div>
        </div>
      </div>
      <div class="box follow">
        <div class="box-image">
          <%= image_tag("follow", size: "70") %>
        </div>
        <div class="box-headline">
          <h2>Follow</h2>
          <div class="box-text">
            <p>Connect with your friends and family and see what they are up to. Share your favorites and be inspired by others.</p>
          </div>
        </div>
      </div>
      <div class="box book">
        <div class="box-image">
          <%= image_tag("ticket", size: "110x70") %>
        </div>
        <div class="box-headline">
          <h2>Book</h2>
          <div class="box-text">
            <p>Book tickets and seats directly through Monkee. Give feedback and share your experience with the community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-parallax">
  <div class="container">
    <div class="main-headline">
      <h2>Discover the Monkee world</h2>
    </div>
  </div>
</div>
