<div class="header-parallax">
  <div class="container">
    <div class="header-text">
      <h1>Find activities for your tribe. Create activities for other tribes. Find your friends favorite activites.</h1>
    </div>
    <div class="buttons">
      <%= link_to "Find activities", activities_path, class: 'banner-btn-1' %>
      <button class="banner-btn-2" data-toggle="modal" data-target=".bd-example-modal-lg">Create an activity</button>
    </div>
  </div>
</div>
<div class="top-info">
  <div class="container">
    <div class="boxes">
      <div class="box find">
        <div class="box-image">
          <%= image_tag("find", size: "70") %>
        </div>
        <div class="box-headline">
          <h2>Discover</h2>
          <div class="box-text pt-3">
            <p>Spend less time arguing over what to do. Find interesting activities for you, your family and your friends in no time!</p>
          </div>
        </div>
      </div>
      <div class="box follow">
        <div class="box-image">
          <%= image_tag("follow", size: "70") %>
        </div>
        <div class="box-headline">
          <h2>Follow</h2>
          <div class="box-text pt-3">
            <p>Connect with your friends and family and see what they are up to. Share your favorites and be inspired by others.</p>
          </div>
        </div>
      </div>
      <div class="box create">
        <div class="box-image">
          <%= image_tag("create", size: "70") %>
        </div>
        <div class="box-headline">
          <h2>Host</h2>
          <div class="box-text pt-3">
            <p>Be the host and invite Monkee tribes to your activities. Let your attendees join for free or book their tickets here.</p>
          </div>
        </div>
      </div>
      <div class="box book">
        <div class="box-image">
          <%= image_tag("book", size: "70") %>
        </div>
        <div class="box-headline">
          <h2>Book</h2>
          <div class="box-text pt-3">
            <p>Book tickets and seats directly through Monkee. Give feedback and share your experience with the community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-parallax">
  <div class="container">
    <div class="main-action">
      <div class="main-action-headline">
        <h2>Become a monkee parent</h2>
      </div>
      <div class="button-de-merde">
        <%= link_to "Sign up", new_user_registration_path, class: 'banner-btn-3' %>
      </div>
    </div>
  </div>
</div>

<div class="review-section">
  <div class="container">
    <h2>Testimonials from the tribe</h2>
    <div class="row pt-5">
        <% @activities.each do |activity| %>
          <% if activity.activity_reviews.any? %>
            <% activity.activity_reviews.each do |review| %>
              <div class="col-md-6 col-xs-12">
                <div class="dashboard-card">
                <div class="dashboard-header">
                  <%= image_tag review.order.user&.avatar&.url || "avatar-default.png", class: 'avatar' %>
                    <div class="dashboard-info">
                    <div class="dashboard-activity">
                      <h6>Review from <%= review.order.user.full_name %></h6>
                    </div>
                    <div class="dashboard-rating">
                      <p><%= review.stars %></p>
                    </div>
                  </div>

                  <div class="dashboard-date">
                    <h6><%= review.created_at.strftime("%d %B %Y") %></h6>
                  </div>
                </div>

                <div class="review-section-text">
                  <p><span><i class="fas fa-quote-left quotes"></i> <%= review.comment %> <i class="fas fa-quote-right quotes"></i></span></p>
                </div>
              </div>
             </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>




