<h1>Booking for <%= @order.activity.title %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <p>Number of tickets: <%= @order.number_of_tickets %></p>
    <p>Price per ticket: <%= humanized_money_with_symbol(@order.activity.price) %></p>
    <label class="amount">
      <span>Total amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Activity"
    data-email="<%= current_user.email %>"
    data-description="Activity <%= @order.activity.title %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>
