
<div class="container col-12">
  <div class="row mt-3">
    <div class="col-12">
       <div class="sort-bar d-flex flex-row align-items-center">

        <!-- SEARCH BAR -->
        <div class="add-friend-form">
          <%= simple_form_for :search_by, method: :get  do |f| %>
            <%= f.text_field :name, placeholder: 'Search by...', label: false, class: 'form-control search-friend-form' %>
          <% end %>
        </div>

        <div class="date">
          <%= simple_form_for :filter_date, method: :get do |f| %>
            <%= f.input :date, as: :string, label: false, placeholder: "Select date", input_html: { class: "date_wrapper" } %>
          <% end %>
        </div>

        <!-- VIEW ALL / MOST POPULAR -->
        <button class="button-favorite"><%= link_to 'View all', activities_path %></button>
        <button class="button-favorite"><%= link_to "Most Popular", activities_path(popular: true) %></button>



        <!-- SINGLE COLLAPSE -->
        <div>
          <button class="button-favorite" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Select filters
          </button>
        </div>

        <!-- SORT BY PRICE -->


        <%= simple_form_for :sort, method: :get do |f| %>
        <%= f.input :price, prompt: "Sort by price", collection: %w[Lowest Highest All], label: false, input_html: { onchange: "this.form.submit()"} %>
        <% end %>


      </div>
    </div>
  </div>
</div>

      <!-- SINGLE COLLAPSE BOX-->

      <div class="row">
        <div class="col">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <%= simple_form_for :sort, method: :get do |f| %>

              <%= f.input :select_categories_and_ages, as: :check_boxes, collection: @cat_ages, wrapper: :vertical_collection_inline %>
              <%= f.button :submit, "Search", class: "btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

  <!-- CARDS DISPLAY -->






<div class="main px-5">
  <div class="row">
      <div class="col-4">
        <div
          id="map"
          class="index-map"
          data-markers="<%= @activities.map { |a| {lat: a.latitude, lng: a.longitude}}.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
      <div class="col-8">
        <div class="row">
           <% @activities.each do |activity| %>
           <div class="cards col-md-4 col-sm-6 col-xs-12">
             <%= link_to activity_path(activity) do %>
               <div class="card-image">
                 <%= image_tag activity&.activity_images&.first&.photo.url || "activity-default.png" %>
                 <div class="heart position-absolute" id="activity_<%= activity.id %>">
                   <%= render "heart", activity: activity %>
                 </div>
               </div>
               <div class="card-header">
                 <div class="card-title">
                   <%= activity.title.truncate(45) %>
                 </div>
                 <div class="card-date">
                   <%= "#{activity.date.strftime("%A, %d %B at %k:%M")} • #{activity.duration} hours" %>
                 </div>
               </div>
               <div class="card-details">
                 <div class="card-address">
                   <i class="fas fa-map-marker-alt"></i>
                   <%= activity.address.truncate(20) %>
                 </div>
                 <div class="card-categories">
                   <span class="badge badge-pill badge-secondary"><%= activity.age_group %></span>
                   <span class="badge badge-pill badge-primary"><%= activity.category %></span>
                 </div>
               </div>
               <div class="card-price">
                 <span><%= "#{activity.tickets_left} of #{activity.capacity} tickets left" %></span>
                 <span><%= humanized_money_with_symbol(activity.price) %></span>
               </div>
             <% end %>
           </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

